<div class="row clearfix">
  <div class="col-md-12">
    <ul class="list-unstyled list-inline">
      <li>
        <div data-iframe-width="150" data-iframe-height="270"
             data-share-badge-id="d39f16e7-6139-4ef2-a7be-4f019a269028"
             data-share-badge-host="https://www.credly.com"></div>
        <script type="text/javascript" async
                src="//cdn.credly.com/assets/utilities/embed.js"></script>
      </li>
      <li>
        <div data-iframe-width="150" data-iframe-height="270"
             data-share-badge-id="71f568a0-eb6f-4492-9a6e-5de985e417dd"
             data-share-badge-host="https://www.credly.com"></div>
        <script type="text/javascript" async
                src="//cdn.credly.com/assets/utilities/embed.js"></script>
      </li>
      <li>
        <div data-iframe-width="150" data-iframe-height="270"
             data-share-badge-id="860c8436-f760-4a2d-b84a-1363bcd82c4f"
             data-share-badge-host="https://www.credly.com"></div>
        <script type="text/javascript" async
                src="//cdn.credly.com/assets/utilities/embed.js"></script>
      </li>
    </ul>
  </div>
</div>

